*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width: 100%;
    overflow-x: hidden;
}
#navigation_bar{
    width: 99%;
    height: 55px;
    background: #270082;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    z-index: 100;
}
#logo h1{
    color: #FFF;
    font-family: Roboto;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 29px; /* 120.833% */
}
#menu ul{
    list-style: none;
    display: flex;
}
#menu ul li{
    color: #FFF;
    font-family: Roboto;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 29px;
    margin-left: 30px;
}
#menu li:hover{
    cursor: pointer;
    text-decoration: underline;
}
.hero_container{
    margin-top: 55px;
    width: 100vw;
    height: 92%;
    background-image: url(hero.png);
    background-position: center;
    background-size: cover;

    display: flex;
    justify-content: center;
    align-items: center;
}
#content_box{
    width: 841px;
    height: 243px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 32px;
}
#content_box h1{
    color: #FFF;
    font-family: Roboto;
    font-size: 72px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
#content_box span{
    color: #FFF;
    font-family: Roboto;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
#content_box p{
    color: #FFF;
    font-family: Roboto;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 29px; /* 161.111% */
}
.hero2{
    width: 100%;
    height: 806px;
    display: flex;
    justify-content: center;
    background: #281154;;
}
#content2{
    /* margin-top: 47px; */
    position: relative;
    top: 47px;
    width: 970px;
    height: 450px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 37px;

}
#logo_box{
    width: 159px;
    height: 50px;
    display: flex;
    align-items: center;
}
#logo_box h2{
    color: #FFF;
    font-family: Roboto;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 29px;
}
#hero2_logo span{
    color: #FFF;
    font-family: Roboto;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 29px;
    margin-left: -55px;
}
#hero2_content{
    height: 50%;
    width: 970px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 29px;
}
#hero2_content p{
    color: #FFF;
    text-align: center;
    font-family: Roboto;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 29px; /* 161.111% */
}
#hero2_content button{
    display: block;
    width: 183px;
    height: 55px;
    background: #DC0000;
    color: #FFF;
    font-family: Roboto;
    font-size: 18px;
    font-style: normal;
    font-weight: 300;
    line-height: 29px; 
}
#hero2_content{
    color: #FFF;
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    line-height: 29px; /* 207.143% */
}
#device{
    width: 100%;
    position: relative;
    top: -350px;
}
#itab{
    position: relative;
    left: 292px;
    border-radius: 40px;
    width: 55%;

}
#iphone{
    width: 17%;
    border-radius: 30px;
    position: absolute;
    left: 929px;
    top: 200px;
}
.midSec{
    width: 100%;
    height: 40%;
    position: relative;
    top: -100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 41px;
}
.midSec h2{
    color: #000;
    font-family: Roboto;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 29px; /* 120.833% */
}
.midSec p{
    width: 950px;
    color: #000;
    text-align: center;
    font-family: Roboto;
    font-size: 18px;
    font-style: normal;
    font-weight: 300;
    line-height: 32px; /* 177.778% */
}
.midSec button{
    width: 133px;
    height: 50px;
    background: #37008E;
    color: #FFF;
    font-family: Roboto;
    font-size: 18px;
    font-style: normal;
    font-weight: 300;
    line-height: 29px; /* 161.111% */    
}
.mac_Sec{
    display: flex;
    justify-content: center;
}
.mac_Sec img{
    width: 60%;
}
.hero3 {
    width: 100vw;
    height: 100vh;
    background-image: url(dance.png);
    background-position: center;
    background-size: cover;
    /* filter: blur(5px); */
    position: relative;
    top: 79px;
    display: flex;
    justify-content: center;
    /* align-items: center; */
}
#hero3_content{
    width: 937px;
    display: flex;
    flex-direction:column;
    align-items: center;
    position: relative;
    top: 197px;
    gap: 39px;

}
#hero3_content h2{
    color: #FFF;
    font-family: Roboto;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 29px; /* 120.833% */
}
#hero3_content p{
    color: #FFF;
    text-align: center;
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 18px; /* 128.571% */
}
#gift{
    position: relative;
    top: 100px;
    width: 100%;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#gift_content{
    width: 1080px;
    height: 310px;
    display: flex;
    gap: 36px;
}
#gift_card{
    display: flex;
    flex-direction: column;
    gap: 22px;
}
#gift_card h2{
    color: #000;
font-family: Roboto;
font-size: 24px;
font-style: normal;
font-weight: 700;
line-height: 29px; /* 120.833% */
}
#gift_card p{
    color: #000;
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 29px; /* 207.143% */
}
#gift_card span{
    display: block;
    color: #000;
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 29px; /* 207.143% */
}
#gift_card button{
    width: 113px;
    height: 39px;
    background: #37008E;
    color: #FFF;
    font-family: Roboto;
    font-size: 18px;
    font-style: normal;
    font-weight: 300;
    line-height: 29px; /* 161.111% */
}
.fotter{
    width: 100%;
    height: 290px;
    background: #1B0058;;
    position: relative;
    top: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap:23px;
}
.footer_content{
    width: 220px;
    height: 200px;
    display: flex;
    flex-direction: column;
    gap: 21px;
}
.footer_content h2{
    color: #FFF;
    font-family: Roboto;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 29px; /* 161.111% */
}
.line{
    width: 220.009px;
    height: 1px;
    background: #FFF;
}
.footer_content ul {
    list-style: none;
    color: #FFF;
    font-family: Roboto;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 10px; /* 83.333% */
    display: flex;
    flex-direction: column;
    gap:8px;

}
#main_footer{
    position: relative;
    top: 68px;
    width: 100%;
    height: 51px;
    background: #270082;
    display: flex;
    justify-content: center;
    align-items: center;
}
#main_footer h2{
    color: #FFF;
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 10px; /* 71.429% */
}