*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(196, 186, 186, 0.66);
}
img{
    width: 200px;
    margin-top: 100px;
    margin-left: 30px;
}
#img1{
    box-shadow:  10px 10px 20px rgba(0, 0, 0, 0.823);
}
#img2{
    filter: drop-shadow(20px 20px 30px  black );
}