*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    width: 100%;
    height: 100%;
    overflow-x: hidden;
}
.top_container{
    margin: 0 auto;
    width: 1440px;
    height: 2483px;
}
#top{
    margin: 0 auto;
    width: 1220px;
    height: 76px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#logo{
    width: 201px;
    height: 76px;
    display: flex;
    justify-content:center ;
    align-items: center;
}
#logo_c{
    color: #149F39;
    font-family: Russo One;
    font-size: 48px;
    font-style: normal;
    font-weight: 400;
    line-height: 19px; 
}
#logo h2{
    color: #149F39;
    font-family: Russo One;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 19px;
}
#menu svg{
    width: 32px;
    height: 32px;
}
#hero{
    height: 520px;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    
}
#hero_img{

    width: 512px;
    height: 514px;
    border-radius: 256px;
    background-image: url(Hero\ Image.png)  ;
    background-position: center;
    
}

#hero_img img{
        filter: grayscale(100%);
        width: 512px;
        height: 514px;

}
#hero_content{
    width: 562px;
    height: 514px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-content: space-evenly;

}
#disscount{
    background: #149F39;
    width: 205px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
}
#disscount p{
    color: #FFF;
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
#heading{
    width: 562px;
    
}
#heading h2{
    color: #000;
    font-family: Roboto;
    font-size: 72px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
#content{
    width: 363px;
height: 35px;
}
#content p{
    color: #000;
    font-family: Roboto;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 19px; 
}

#btn button{
    width: 174px;
    height: 57px;
    background: #FFC066;
    color:#FFF;
    border-radius: 10px;
}
#btn button:hover{
    font-size: 20px;
}
#hero_ftr{
    width: 878px;
    height: 109px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
}
.hero_banner{
    width: 878px;
    height: 109px;
    display: flex;
    justify-content: center;
    align-items: center;

}
#ftr_img{
    width: 80px;
    height: 83px;
}
#ftr_content{
    width: 170px;

}
#ftr_content h2{
    color: #000;
    font-family: Roboto;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 19px;
    letter-spacing: 0.54px;
}
#ftr_content p{
    color: #000;
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    line-height: 19px; /* 135.714% */
letter-spacing: 0.42px;
}
.content_box{
    width: 1080px;
    margin: 0 auto;
}
#menu_box{
    width: 100%;
    height: 100px;
    background-color: peru;
    display: flex;
    
}